header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: url('https://media.istockphoto.com/id/1198380802/vector/food-background-vegetables-seamless-pattern-healthy-eating-tomato-garlic-carrot-pepper.jpg?s=612x612&w=0&k=20&c=jHB3uTWZrakPyAgqSQfOApxSq_jIwHRx00LiOV2YHEk=');
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('https://media.istockphoto.com/id/1175676026/vector/hypermarket-store-food-appliances-clothes-toys-seamless-icons-background-pattern.jpg?s=612x612&w=0&k=20&c=ipTCrUea2qmjYN-l7EjRH7b4BrVFuvpOIupCahoI2cA=');
}

#Logo {
    width: 1;
    height: 1;
}

#menu {
    display: flex;
    padding: 50px;
    gap: 10px;
}

.button {
    background-color: lightgreen; 
    border: none;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;}

.button1 {
    background-color:lightgreen; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: white;
    color: black;
  }
  
  .judul {
    font-size: 50px;
    text-align: center;
    font-weight: 200%;
    font-style: bold;
  }

  .subjudul{
    color: grey;
    opacity: 75%;
    text-align: center;
    font-size: 40px;
  }

  .intro {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
  }

  #gambar {
    flex-basis: 60%;
    flex-grow: 0;
  }

  #kontak {
    flex-basis: 40%;
    flex-grow: 0;
  }

  .pesan {
    text-align: center;
    color: gray;
    opacity: 65%;
    font-style: italic;
  }