header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: url('C:/Users/Owner/Downloads/latihan/Main Project/HTML Files/asset/backgroundheader.jpg');
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(152, 251, 152, 0.541);
}

#Logo {
    width: 1;
    height: 1;
}

#menu {
    display: flex;
    padding: 50px;
    gap: 10px;
}

.button {
    background-color: lightgreen; 
    border: none;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;}

.button1 {
    background-color:lightgreen; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: white;
    color: black;
  }
  
  .judul {
    font-size: 50px;
    text-align: center;
    font-weight: 200%;
    font-style: bold;
  }

  .subjudul{
    color: grey;
    text-align: center;
    font-size: 40px;
  }

  .intro {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 30px;
  }

  #gambar {
    flex-basis: 60%;
    flex-grow: 0;
  }

  #kontak {
    flex-basis: 40%;
    flex-grow: 0;
  }

  .pesan {
    text-align: center;
    color: gray;
    font-style: italic;
  }

  #formulir {
    background: url('C:/Users/Owner/Downloads/latihan/Main Project/HTML Files/asset/phone.jpg');
    
  }

  #gambaruser {
    border-radius: 50%;
  }
  
  #review {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    background-color: lightgreen;
    gap: 50px;
  }